.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# ignore Composer downloads
/vendor/*
/.idea/

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml